# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
ENV/
env/

# --------------------
# Build artifacts
# --------------------
build/
dist/
*.spec

# --------------------
# IDE
# --------------------
.idea/
.vscode/

# --------------------
# OS
# --------------------
.DS_Store
Thumbs.db